table {
	min-width: 850px;
}

.table-responsive::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F7F7F7;
}

.table-responsive::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F7F7F7;
}

.table-responsive::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #DDD;
}


/*text color*/
.text-red {
	color: red;
}

/*style suspended*/
.form-edit-user .suspended {
	display: flex;
}

.form-edit-user .suspended label,
.form-edit-user .suspended input{
	margin: 0;
}

.form-edit-user .suspended input{
	margin-left: 5px;
}
/*end style suspended*/


/*style icon tooltip*/
.icon-tooltip {
	position: absolute;
}
/*end style icon tooltip*/

@media (max-width: 991px) {
	.panel-edit-user {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media (max-width: 767px) {
	.table-responsive {
		padding: 5px;
	}

	table {
		min-width: auto;
	}
}

@media (max-width: 479px) {
	table {
		min-width: 480px;
	}
}